<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div th:fragment="footer">
            
            <footer class="footer-3">
                <div class="container-fluid p-0">
                    <div class="footer-content">
                        <div class="footer-left">
                            <div class="footer-widget">
                                <h4>Contacts</h4>
                                <div class="information">
                                    <div class="info">
                                        <div class="icon">
                                            <i class="fas fa-phone-alt"></i>
                                        </div>
                                        <div class="desc">
                                            <a href="tel:6280178623">+91 628 0178 623</a>
                                            <a href="tel:7901921766">+91 790 1921 766</a>
                                        </div>
                                    </div>
                                    <div class="info">
                                        <div class="icon">
                                            <i class="far fa-envelope"></i>
                                        </div>
                                        <div class="desc">
                                            <a href="mailto:jatinkapoor3066@gmail.com"><span class="__cf_email__" data-cfemail="c6afa8a0a986a3bea7abb6aaa3e8a5a9ab">jatinkapoor3066@gmail.com</span></a>
                                            <a href="mailto:maubillagaming@gmail.com"><span class="__cf_email__" data-cfemail="c6afa8a0a986a3bea7abb6aaa3e8a5a9ab">maubillagaming@gmail.com</span></a>                                        
                                        </div>
                                    </div>
                                    <div class="info">
                                        <div class="icon">
                                            <i class="fas fa-map-marker-alt"></i>
                                        </div>
                                        <div class="desc">
                                            <p>1763/2 Gali Arain, Mahan Singh Gate, Amritsar</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="footer-right">
                            <div class="footer-widgets-group">
                                <div class="footer-widget">
                                    <h4>Explore On</h4>
                                    <ul class="footer-menu">
                                        <li><a href="/">Home</a></li>
                                        <li><a href="about.html">About</a></li>
                                        <li><a href="#">Contact Us</a></li>
                                        <li><a href="/UserLogin">User Login</a></li>
                                        <li><a href="/VendorLogin">Vendor Login</a></li>
                                        <li><a href="/AdminLogin">Admin Login</a></li>
                                    </ul>
                                </div>
                                <div class="footer-widget">
                                    <h4>Cities</h4>
                                    <ul class="footer-menu">
                                        <li><a href="/ServicesForSelectedCity?cityId=17">Amritsar</a></li>
                                        <li><a href="/ServicesForSelectedCity?cityId=23">Delhi</a></li>
                                        <li><a href="/ServicesForSelectedCity?cityId=21">Banglore</a></li>
                                        <li><a href="/ServicesForSelectedCity?cityId=27">Pune</a></li>
                                        <li><a href="/ServicesForSelectedCity?cityId=22">Mumbai</a></li>
                                    </ul>
                                </div>
                                <div class="footer-widget with-logo">
                                    <div class="footer-logo">
                                        <a href="/"><img src="assets/images/footer-logo.svg" alt=""></a>
                                    </div>
                                    <p>Providing reliable, professional home services to ensure your comfort and convenience.</p>
                                    <div class="request-btn">
                                        <a href="#">Start Now</a>
                                    </div>
                                </div>
                            </div>
                            <div class="footer-social-footer">
                                <ul>
                                    <li><a href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="https://www.twitter.com/"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="https://www.pinterest.com/"><i class="fab fa-pinterest-p"></i></a></li>
                                    <li><a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a></li>
                                </ul>
                            </div>
                            <div class="copy-right-txt">
                                <span>Copyright 2024 Serve | Design By <a href="#">Jatin Kapoor</a></span>
                            </div>
                            <img src="assets/images/home3/footer-circle.png" alt="" class="circle">
                        </div>
                    </div>
                </div>
            </footer>
            
        </div>
    </body>
</html>
